<div ng-controller="ApiCtrl as vm">

	<div class="feedbox">
		<h3>{{ '/r/' + 'AngularJS' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rAngular">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>{{ '/r/' + 'LearnJavaScript' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rLearnJS">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>{{ '/r/' + 'LearnProgramming' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rLearnProg">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>{{ '/r/' + 'JavaScript' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rJS">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>{{ '/r/' + 'Web_Design' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rWebDesign">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>{{ '/r/' + 'WebDev' }}</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rWebDev">
				<a href="{{ subreddit.data.url }}" target="_blank">{{ subreddit.data.title }}</a>
			</li>
		</ul>
	</div>

</div>
