<div ng-controller="ApiCtrl as vm">

	<div class="feedbox">
		<h3>/r/AngularJS</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rAngular">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>/r/LearnJavaScript</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rLearnJS">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>/r/LearnProgramming</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rLearnProg">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>/r/JavaScript</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rJS">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>/r/Web_Design</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rWebDesign">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

	<div class="feedbox">
		<h3>/r/WebDev</h3>
		<ul>
			<li ng-repeat="subreddit in vm.rWebDev">
				<subreddit-posts></subreddit-posts>
			</li>
		</ul>
	</div>

</div>
